.filter_label {
  display: flex;
  width: 200px;
  flex-direction: column;
}
.filter_input {
  margin-top: 5px;
  margin-left: 5px;
}

.filter_input-blue {
  outline: 2px solid rgb(41, 41, 240);
}
.filter_input:hover,
.filter_input:focus {
  border: 2px solid rgb(41, 41, 240);
}
